<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.company.fieldattendance">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.FieldAttendance">
        
        <activity
            android:name=".ui.common.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".ui.auth.LoginActivity" />
        <activity android:name=".ui.employee.EmployeeDashboardActivity" />
        <activity android:name=".ui.ceo.CeoDashboardActivity" />
        
    
        <activity android:name=".ui.ceo.EmployeeManagementActivity" />
        <activity android:name=".ui.ceo.SiteManagementActivity" />
        <activity android:name=".ui.employee.FaceVerificationActivity" />

        <activity android:name=".ui.employee.AttendanceHistoryActivity" />
        <activity android:name=".ui.employee.CorrectionRequestActivity" />
        <activity android:name=".ui.ceo.ReportsActivity" />
        <activity android:name=".ui.provider.ProviderDashboardActivity" />
        <activity android:name=".ui.provider.AddEmployeeActivity" />
        <activity android:name=".ui.provider.AddWorkSiteActivity" />
    </application>

</manifest>
